@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
header{
  display: flex;
  padding: 25px 10%;
  justify-content: space-between;
  align-items: center;
  width: 99vw;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1000;
  background: #fff;
}
.stick{
  background: red;
}
.headerNav {
  flex: 1;
  text-align: right;
}
.basketIcon{
  cursor: pointer;
  transition:color,  transform 500ms ease;
  height: 50px;
  width: 25px;
}
.basketIcon:hover , .basketIcon.active{
  color: rgba(222, 48, 68, 0.76);
  transform: scale(1.5);
}
.shopCart{
  position: absolute;
  background: #e0a317;
  width: 400px;
  height: 300px;
  right: 10%;
  top: 80%;
  z-index: 2;
  -webkit-box-shadow: 4px 4px 8px 3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 3px rgba(34, 60, 80, 0.2);
   box-shadow: 4px 4px 8px 3px rgba(34, 60, 80, 0.2);
}
header ul{
  list-style: none;
}
header li{
  display: inline;
  margin-right: 20px;
  cursor: pointer;
  transition: all 500ms ease;
  font-size: 20px;
  border: none;
}

header li:hover, header li:focus{
  opacity: 60%;
  border-bottom: 1px solid rgba(222, 48, 68, 0.76);
}

main{
  height: 700px;
  margin:150px 100px;
  background: url('./img/storeBg.jpg') no-repeat center center;
  background-size: cover;
  position: relative;

}
main:after{
  content: 'Лучшие пива России и мира!';
  color: #fff;
  font-size: 50px;
  font-family: inherit;
  position: absolute;
  top: 22%;
  left: 5%;
  width: 400px;
}
main:before{
  content: 'Забирай скорей';
  color: red;
  font-size: 25px;
  position: absolute;
  top: 52%;
  left: 5%;
}
footer{
  text-align: center;
}
.store{
  display: flex;
  margin:0 10% 10% 10%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.store h2{
    text-align: left;
    text-decoration: underline;
    color: teal;
}
.storeItem {
  width: 300px;
  height: 250px;
  border-radius: 30px;
  padding:25px;
  margin:40px;
  box-shadow: 0 0 5px 2px black;
}
.storeItem h2 , h3{
  margin-bottom:10px;
}
.storeItem h3{
  color: #e0a317;
}
.storeItem button{
  margin-top:20px;
  padding:10px;
  border-radius: 10px;
  border: 1px solid #e0a317;
  transition: all 500ms;
  background-color: #fff;
}
.storeItem button:hover , :focus{
  transform: scale(1.05);
  background: #e0a317;
}
.shopCart{
  background: antiquewhite;
  text-align: center;
  padding:40px 20px;
  color: black;
  z-index: 1000;
  width:600px;
  height: fit-content;
  min-height: 270px;
  border-radius: 15px;
}
.cartBlock{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 60px 10px 50px;
}
.cartBlock h2{
  display: block;
}
.cartBlock p{
  text-align: left;
}
.cartBtns{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;

}
.cartBtns button{
  transition: all 1s ease;
}
.cartBtns button:hover{
  transform: scale(1.1);
}
.cartBtns button:first-child{
  margin-left: 20%;
}
.cartBtns button:first-child:hover{
  background: #49ea49;
}
.cartBtns button:nth-child(2):hover{
  background: rgba(227, 44, 94, 0.93);
}
.cartBtns button:nth-last-child(2){
  margin-right: 20%;
}
.cartBlock button{
  border: none;
  padding:5px 10px;
  background: #e0a317;
  border-radius: 5px;
  cursor: pointer;
}
.totalCart{
  font-size: 20px;
  margin-top:30px;
  text-decoration: red underline;
}
.trash{
  cursor: pointer;
  font-size: 24px;
  transition: color 500ms ease;
}
.trash:hover{
  color: #a21c1c;
}

.emptyCart{
  font-size: 30px;
  color: #ef1010;
  text-shadow: 1px 1px black;
  margin:15%;
}


